@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Teko:wght@300&display=swap');

.container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
  margin-bottom: 100px;
 

 background-color: white;
 margin-top: 70px;
 width: 100%;
 
    
  
}
.Card {
   text-align: center;
    margin: 10px;
    width: 250px;
    height: 290px;
    perspective: 1000px;
   
    background-color: transparent;
  
}
.CardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.Card:hover .CardInner{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.CardFront, .CardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10% 10% 10% 10%;
    -webkit-border-radius: 10% 10% 10% 10%;
    -moz-border-radius: 10% 10% 10% 10%;
    -ms-border-radius: 10% 10% 10% 10%;
    -o-border-radius: 10% 10% 10% 10%;
    box-shadow: 7px 5px 15px rgba(3, 3, 3, 0.541);
    -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.CardFront {
    background-color: #5b948b;
}
.CardBack{
    background-color: #FBF1CA;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.h1{
    
    color: white;
    font-size: 19px;
}

.headerCard{
   margin: 10px;
   
}




.h4{
    color: white;
}

.F1{
    
    
    width: 100px;
    height: 100px;
    animation: F1 1s linear;
    -webkit-animation: F1 1s linear;
}
@keyframes F1 {
    0%{
        
    }20%{

    }40%{

    }60%{

    }80%{

    }100%{

    }
}



