@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Teko:wght@300&display=swap');
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.Card{
  color: white;
  font-family: 'Oswald';
  margin: 10px;
  background-color: #007465;
}
.img{
  margin: 10px;
}
.h1{
  margin-left: 10px;
font-size: 25px;
}
.h3{
  font-size: 10px;
  margin-left: 10px;
}