.container{
display: flex;
 flex-direction: column;
}
.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.containerButton div button {
    background-color: rgba(255, 255, 255, 0.445);
    border: 1px solid #5a948a;
}
.containerButton div> button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.452);
}
.notes{
    width: 30%;
}
.middleBut{
    margin-left: 10px;
    margin-right: 10px;
}
.containerButton p{
    margin-top: 5px;
}
.addButton{
    background-color: white;
    border: 1px solid #5a948a;
    color: #5a948a;
    width: 150px;
    height: 40px;

}