@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Bodoni:wght@500&display=swap');

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #5a948a;
}
.corp{
    border: 1px solid #5a948a;
    margin: 10px;
    color: #5a948a;
}
.container p{
    margin: 10px;
    font-family: 'EB Garamond', serif;
}
.Title{
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
font-family: 'EB Garamond', serif;

}
.button{
    width: 150px;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #5a948a;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
}
.buttonChecked{
    font-family: 'EB Garamond', serif;
    width: 150px;
    font-size: 20px;
    background-color: white;
    color: #5a948a;
    border-bottom: 1px solid #5a948a;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px;
    cursor: pointer;
}

.detailChecked{
    border: 1px solid #5a948a;
    margin: 10px;

}
.detailChecked h2{
    font-family: 'EB Garamond', serif;
}
.containerCom h2{
    font-family: 'EB Garamond', serif;
}
.detail{
    display: none;
}
.containerCom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerComTwo{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 10px;
    width: 80%;
}
.containerComTwo div h3{
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
.containerComTwo div{
    margin: 10px;
}
.containerCom div div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

