.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
  

    
}
.containerFilter{
    margin: 30px;
    border: 3px solid #998431;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30%;
}
.button{
    cursor: pointer;
    width: 40px;
    height: 22px;
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s ease-in-out;
}
.containerFilter div{
    display: flex;
    flex-direction: row ;
    align-items: center;
}
.containerButton{
   margin-left: 13px;
}
.containerFilter div h3{
    font-size: 13px;
    margin: 10px;
}

.button div{
    width: 15px;
    height: 15px;
    margin-left: -4px;
    border: 3px solid grey;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s ease-in-out;
}

.buttonClicked{
    cursor: pointer;
    background-color:#FBF1CA ;
    width: 40px;
    height: 22px;
    border-color: rgb(129, 120, 120);
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s ease-in-out;
}
.buttonClicked div{
    width: 15px;
    height: 15px;
    margin-left: 14px;
    border: 3px solid grey;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}