.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    flex: 2;
}
.container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container div h4{
    flex: 1;
}
.container div p{
    flex: 1;
}