@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 60px;
    }

.logo{
  margin: 30px;
  
    
}







