.Card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 250px;
 background-color: #2F5861;
 border: 3px solid;
 margin: 30px;
 border: none;
 box-shadow: 10px 5px 5px rgba(112, 112, 112, 0.377);
 border-radius: 10px 100px / 120px;
 -webkit-border-radius: 10px 100px / 120px;
 -moz-border-radius: 10px 100px / 120px;
 -ms-border-radius: 10px 100px / 120px;
 -o-border-radius: 10px 100px / 120px;
}

.Card h1{
font-size: 15px;
color: white;
}
.Card h3 {
    color: white;
    font-size: 10px;
}
.img {
    margin-top: 5px;
  
}
.Card p{
    font-size: 10px;
    color: white;
    font-family: 'Bugaki-italic';
    margin-left: 5px;
    margin-right: 5px;
}

.choose button{
    font-family: 'Bugaki-italic';
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background:none;
    border: solid 2px white;
    cursor: pointer;
    transition:ease-in-out  0.5s;
    -webkit-transition:ease-in-out  0.5s;
    -moz-transition:ease-in-out  0.5s;
    -ms-transition:ease-in-out  0.5s;
    -o-transition:ease-in-out  0.5s;
}
.choose button:hover {
    opacity: 0.2;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}
.rapid {
    font-family: 'Bugaki-italic';
    margin: 10px;
    color: white;
    background:none;
    border: solid 2px white;
    cursor: pointer;
    transition:ease-in-out  0.5s;
    -webkit-transition:ease-in-out  0.5s;
    -moz-transition:ease-in-out  0.5s;
    -ms-transition:ease-in-out  0.5s;
    -o-transition:ease-in-out  0.5s;
 
}
.rapid:hover {
    opacity: 0.2;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}

.h1 {
    color: black;
   
  
}

.containerMapping {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}