.Card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 200px;
 background-color: #2F5861;
 border: 3px solid;
 margin: 30px;

}
.Card h1{
font-size: 20px;
color: white;
}
.Card h3 {
    color: white;
}

.choose button{
    font-family: 'Bugaki-italic';
    margin: 10px;
    color: white;
    background:none;
    border: solid 2px white;
    cursor: pointer;
    transition:ease-in-out  0.5s;
    -webkit-transition:ease-in-out  0.5s;
    -moz-transition:ease-in-out  0.5s;
    -ms-transition:ease-in-out  0.5s;
    -o-transition:ease-in-out  0.5s;
}
.choose button:hover {
    opacity: 0.2;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}
.rapid {
    font-family: 'Bugaki-italic';
    margin: 10px;
    color: white;
    background:none;
    border: solid 2px white;
    cursor: pointer;
    transition:ease-in-out  0.5s;
    -webkit-transition:ease-in-out  0.5s;
    -moz-transition:ease-in-out  0.5s;
    -ms-transition:ease-in-out  0.5s;
    -o-transition:ease-in-out  0.5s;
 
}
.rapid:hover {
    opacity: 0.2;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}

.h1 {
    color: black;
  
}

.containerMapping {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}