.container{
    display: flex;
    flex-direction: row;
margin-top: 50px;
margin-bottom: 50px;
}
.containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:290px;
    
    border: 1px solid black;
  
}
.containerMenu button{
    width: 190px;
    margin-top: 20px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: none;
    height: 40px;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: large;
    transition:1s ease-in-out ;
    -webkit-transition:1s ease-in-out ;
    -moz-transition:1s ease-in-out ;
    -ms-transition:1s ease-in-out ;
    -o-transition:1s ease-in-out ;
}
.containerMenu button:hover{
    background-color: #FBF1CA;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    cursor: pointer;
}
.AccountImg{
    margin: 40px;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}
