.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}
.container div h3{
    color: #bbb69b;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}
.container div{
    border-bottom: 9px solid transparent;
    transition: 1s ease-in-out;
}
.container div:hover{
    cursor: pointer;
    border-bottom: 9px solid #bbb69b;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}