@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&family=Teko:wght@300&display=swap');

.container{
    background-color: #5A948A;
    color: #fff9e6;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.containerEtea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}
.containerEtea li:hover{
    border-bottom: 1px solid #fff9e6;
    transition:1s ease-out;
    -webkit-transition:1s ease-out;
    -moz-transition:1s ease-out;
    -ms-transition:1s ease-out;
    -o-transition:1s ease-out;
}
.containerEtea li{
    border-bottom: 1px solid transparent;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

.logo{
display:flex ;
flex-direction: column;
justify-content: center;
align-items: center;

text-align: center;
}
.containerSocial h3{
    color: #fff9e6;
}

.containerSocial{
   display: flex;
   flex-direction: column;
    justify-content: center;
        text-align: center;
}
.Image{ 
    
    cursor:pointer;
}
.containerOne{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    
}
